$primary: #C778DD;
$white: #ffffff;
$gray: #ABB2BF;
$bg_color: #282C33;
$bg_btn_hover: rgba(199, 120, 221, 0.2);

$font_family: 'Fira Code', monospace;
$font_bold: 700;
$font_semi_bold: 600;
$font_medium: 500;
$font_regular: 400;


