$primary: #c778dd;
$white: #ffffff;
$gray: #abb2bf;
$bg_color: #282c33;
$bg_btn_hover: rgba(199, 120, 221, 0.2);

$font_family: 'Fira Code', monospace;
$font_bold: 700;
$font_semi_bold: 600;
$font_medium: 500;
$font_regular: 400;

$dark: 'dark';
$light: 'light';
